* {
	margin: 0;
	padding: 0;
}

body {
	background: #7ea4da url('bgpage.jpg') top center no-repeat;
	font-family: "Trebuchet MS", sans;
	font-size: 13px;
	color: #212121;
}

input[type=text], textarea, input[type=password] {
	border: 1px solid #c1c1c1;
	background-color: #EBF1FA;
	font-family: "Trebuchet MS", sans;
	font-size: 13px;
}
a, a:link, a:visited {
	color: #186724;
	text-decoration: none;
}

/* halaman login */
#loginbox {
	position: absolute;
	width: 300px;
	left: 50%; top: 50%;
	margin-left: -150px;
	margin-top: -100px;
	background-color: #C4DB6A;
	text-align: center;
	border: 13px solid #616161;
    -moz-border-radius: 1em 1em 1em 4em;
    border-radius: 1em 1em 1em 4em;
}
#loginbox table {
	margin-left: 50px;
}
/* end halaman login */